{% extends "layoutadmin.njk" %}
   


   {% block content %} 
        <div class="carditems">
            <div class="detailhead">
                <p>Editar receita</p>
                <div class="buttons">
                    <button type="submit">Deletar</button>
                    <button type="submit">Salvar receita</button>  
                </div>
            </div>
    {% endblock %}