{% extends "layoutadmin.njk" %}



{% block content %}
    <h2>Gerenciar receitas</h2>
    <section class="admincards">
        {% for item in items%}
            <card id = {{items.indexOf(item)}}>
                <div class="cardimg">
                    <img src="{{item.image}}" alt="Imagem de {{item.title}}">
                </div>
                <div class="admincardinfo">
                    <div class="cardinfo">{{item.title}}</div>
                    <div class="cardauthor" id="Jorge Relato">Por {{item.author}}</div>
                    <a href="admin/recipedetails/{{items.indexOf(item)}}">Visualizar</a>
                </div>
            </card>    
        {% endfor %}
    </section>


   

    <script src="scripts.js"></script>

{% endblock %}