<!DOCTYPE html>

<html>
    <head>
        <title>Foodfy</title>
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

    </head>

    <body>
        <header>
            <div class="links">
                <img src="/logo.png" alt="logo">
                <a href="/sobre">Sobre</a>
                <a href="/receitas">Receitas</a>
            </div>
        </header>

        {% block content %}

        {% endblock %}
        
        <footer>
            Todos os direitos reservados, receitas Foodfy
        </footer>
    </body>
</html>

