@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";



:root {
    --main-color:#FBDFDB;
}
*{
    margin:0;
    padding: 0;
    border: 0;
}

body {
    background: white;
    font-family: 'Roboto', sans-serif;
    color: #111111;

}

header {
    padding: 32px;
    background: white;
    width: 100%;
}

footer {
    padding: 73px;
    text-align: center;
    font-size: 14px;
    color: #999999;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    color: #111111;
    margin: 50px 351.5px 0px;
}
/*===CABECALHO===*/

.links {
    max-width: 1000px;
    margin: 8px auto 0;
}
.links img {
   padding-right: 32px;
}

.links a {
    color: #111111;
    font-size: 16px;
    line-height: 28px;
    margin: 0 1.5%;
    text-decoration: none;
    position: relative;
}

.links a:last-child {
    float: right;
    padding: 8px 16px;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    margin-right: 72px;
}


.chef {
    background-color: var(--main-color);
    margin: 36px auto 50px;
    border-radius: 30px;
    height: 366px;
    width: 940px;
    padding-left: 60px;
    padding-top: 117px;
    display: flex;
    flex-flow: column wrap;
}

.chef img{
    width: 216px;
    height: 300px;
}

.chef p {
    opacity: 0.7;
    font-size: 18px;
    width: 316px;
    font-family: 'Roboto', sans-serif;
    color: black;
    line-height: 28px;
    padding-top: 10px;
}

/*===CARDS===*/

.cards {
    max-width: 1000px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.titulopag p {
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
    max-width: 1000px;
}

.cards card{
    display: flex;
    flex-direction: column;
}

.cardimg img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 140px;
    border-radius: 15px;
}

.cardinfo {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
}

.cardauthor {
    font-size: 14px;
    color: #777777;
}


/*===SOBRE===*/

.infopag p{
    font-family:'Roboto', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

/*==MODAL==*/

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top:0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 660px;
    height: 413px;
    margin: 355px auto;
    position: relative;
    border-radius: 16px;
}

.modal .closemodal {
    color: #999999;
    position: absolute;
    cursor: pointer;
    bottom: 30px;
    padding-left: 281px;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modalimg img{
    margin: 30px;
    width: 600px;
    height: 200px;
    border-radius: 15px;
}

.modalinfo {
    text-align: center;
    font-size: 24px;
    color: #111111
}

.modalauthor {
    text-align: center;
    color: #777777;
    font-size: 18px;
    padding: 5px;
}

/*==receitainfo==*/

.carditems {
    text-align: center;
}

.inforeceita {
    max-width: 1000px;
    margin: 0 auto;
}
.infoimg img{
    border-radius: 15px;
    width: 1000px;
}

.infotitle {
    padding-top: 50px;
    font-size: 36px;
    color: #111111;
    font-weight: bold;
}

.infoauthor {
    font-size: 20px;
    color: #777777;
    padding-top: 10px;
}

.hidden {
    display: none;
}

#cursor{
    cursor: pointer;
    font-size: 12px;
    color: #999999;
    padding-left: 8px;
    font-weight: bold;
    
}

.showhide {
    display: flex;
    align-items: center;
}

.showhide p{
    font-size: 24px;
    color: #111111;
    font-weight: bold;
    padding: 20px 0
}

#text {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

/*== ADMIN == */

.adminheader {
    background-color: black;
}
.linksadmin {
    max-width: 1000px;
    margin: 8px auto 0;
    
}

.admincards {
    max-width: 1200px;
    min-height: 500px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.admincards card {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.admincardinfo {
    margin: 20px;
}

.admincards .cardimg {
    width: 172px;
    height: 80px;
}

.admincardinfo a {
    text-decoration: none;
    font-size: 14px;
    color: #6558C3;
    font-weight: bold;
}

.admincards .cardauthor {
    padding-bottom: 10px;
}

/*== RECIPEDETAILS ==*/

.detailhead {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    place-items: flex-end;
    margin: 50px auto 20px;
    width: 1000px;

}

.detailhead p {
    font-weight: bold;
    font-size: 24px;
    color: #111111;
}

.detailhead a,
.buttons button:last-child {
    padding: 8px 16px;
    background-color:#6558C3;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

/*== EDIT ==*/

.buttons button:first-child {
    padding: 8px 16px;
    background-color:#DC4747;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
}