{% extends "layout.njk" %}



{% block content %}
    <section class="cards">
        {% for item in items %}
            <card class="recipecard" id = {{items.indexOf(item)}}>
                <div class="cardimg">
                    <img src="{{item.image}}" alt="Imagem de {{item.title}}">
                </div>
                <div class="cardinfo">{{item.title}}</div>
                <div class="cardauthor" id="Jorge Relato">Por {{item.author}}</div>
            </card>    
        {% endfor %}
    </section>


   

    <script src="/scripts.js"></script>

{% endblock %}